@use '@angular/material' as mat;

$gray300: map-get(mat.$gray-palette, 300);
$gray900: map-get(mat.$gray-palette, 900);

:host {
    position: relative;
    display: inline-block;
    height: calc(var(--size) * 1px);
    width: calc(var(--size) * 1px);
    mat-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scale(0.8) translate(-62% , -60%);
    }
    svg {
        height: calc(var(--size) * 1px);
        width: calc(var(--size) * 1px);
        rotate: -90deg;
        circle {
            --PI: 3.14159265358979;
            fill: none;
            stroke-width: var(--thickness);
            stroke-dasharray: calc(2 * var(--PI) * var(--radius));
            stroke: $gray300;
            &:nth-child(2) {
                stroke: $gray900;
                stroke-dashoffset: calc(var(--fill) / 100 * 2 * var(--PI) * var(--radius));
            }
        }
    }
}