<app-toolbar (addTask)="createTask()" [timeSpent]="tasks | getTotalTimeSpent"></app-toolbar>
<app-search-bar (searchTermChanged)="matchTasksWithSearchTerm($event)"></app-search-bar>
<app-tasks-container title="Pending tasks" [expanded]="true">
    <app-task *ngFor="let task of tasksToRender | filterByProperty : 'state' : 'pending'" [task]="task"
        (deleteTask)="removeTask(task.id)" (changeState)="task.state = $event; autosaveTask(task)"
        (changePriority)="task.priority = $event; autosaveTask(task)"
        (changeText)="task.text = $event; autosaveTask(task)"
        (stopTimer)="task.timeSpent = $event; autosaveTask(task)"></app-task>
</app-tasks-container>
<app-tasks-container title="Completed tasks">
    <app-task *ngFor="let task of tasksToRender | filterByProperty : 'state' : 'completed'" [task]="task"
        (deleteTask)="removeTask(task.id)" (changeState)="task.state = $event; autosaveTask(task)"></app-task>
</app-tasks-container>