mat-toolbar {
    padding-top: 16px;
    padding-bottom: 16px;
    mat-toolbar-row {
        max-width: 1000px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .total-time-spent {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 0.2em;
        }
        &:nth-child(2) button{
            width: 100%;
        }
    }
}

.mobile {
    display: none;
}

@media screen and (max-width: 420px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }   
}